NODE_ENV=development
BUILD_MODE=dev
PORT=5001
CLIENT_URL=http://localhost:5173
MONGODB_CONNECTION_STRING=mongodb://127.0.0.1:27017/training-memory
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=14d
GOOGLE_CLIENT_ID=
